<script setup lang="ts">
import { onMounted, reactive } from "vue";

const state = reactive({ messageToShare: '', messageFromCache: '' });

const SHARED_DATA_ENDPOINT = '/token';
// if ('serviceWorker' in navigator) {
//   navigator.serviceWorker.register('/service-worker.js');
// }

function saveToCache() {
  fetch(SHARED_DATA_ENDPOINT, { method: "POST", body: JSON.stringify({ input: state.messageToShare })});
}

function fetchFromCache() {
  fetch(SHARED_DATA_ENDPOINT).then(response => response.json()).then(json => {
    state.messageFromCache = JSON.stringify(json);
  });
}

</script>

<template>
  <div class="data-sharing">
    <h1>Data sharing POC</h1>

    <div class="main">
      <div class="block-1">
        <p>Message is:</p>
        <input v-model="state.messageToShare" placeholder="Message to share">
        <button role="button" @click="saveToCache">Save</button>
      </div>

      <div class="block-2">
        <p>Message from cache: {{ state.messageFromCache || '-' }}</p>
        <button role="button" @click="fetchFromCache">Fetch</button>
      </div>
    </div>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .data-sharing {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .main {
    font-size: 16px;
    line-height: 16px;
    margin-top: 1.2rem;
  }

  .block-1, .block-2 {
    margin-bottom: 1rem;
  }
}
</style>
