<script setup lang="ts">
import { onMounted, reactive } from "vue";
import { Html5QrcodeScanner } from "html5-qrcode";

function onScanSuccess(decodedText: any, decodedResult: any) {
  console.log("scan success! - ", decodedText);
  console.log(decodedResult);

  hideError();
  updateResult(decodedText);
}
function onScanFailure(error: any) {
  console.log("scan failure! - ", error);

  updateResult("N/A");
  showError(error);
}

const state = reactive({ result: "N/A", error: ""});

function updateResult(text: string) {
  state.result = text;
}

function showError(text: string) {
  state.error = text;
}

function hideError() {
  state.error = "";
}



onMounted(() => {
  console.log("Scanner view is mounted.");

  const config = { fps: 10, qrbox: 250 };
  const html5QrcodeScanner = new Html5QrcodeScanner(
    "scanner",
    config,
    undefined
  );
  html5QrcodeScanner.render(onScanSuccess, onScanFailure);
});
</script>

<template>
  <div class="about">
    <h1>Scanner POC</h1>

    <div id="scanner"></div>

    <div id="scanner-result">Scanned value: {{ state.result }}</div>
    <div v-if="state.error.length > 0" id="scanner-error">Error: {{ state.error }}</div>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  #scanner {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #scanner-error {
    color: brown;
  }
  .about {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}
</style>
